<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CRUD Nodejs Mysql</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lux/bootstrap.min.css"
    />
  </head>
  <body>
      
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand">CRUD Nodejs Mysql Ejemplo by Boris</a>
    </nav>